@media (min-width: 768px){

  .main-content{
    overflow: hidden;
  }

  nav {
    background-color: #F5F5F5;
    height: 100vh;
    position: fixed;
    width: 90px;
    top: 0;
    left: 0;
    text-align: center;
  }

  .logo{
    width: 80px;
    position: fixed;
    left: 6px;
    bottom: 20px;
    transform: rotate(0deg);
  }


  .menu-heading {

    margin-top: 190px;
    font-size: 30px;
    letter-spacing: 1.54px;
    /* margin-right: 10px; */
  }

  .head-present img{
    margin-left: 80px;
    width: 93%;
  }

  .project-name h1{
    font-size: 45px;
    color: #000000;
  }

  .project-name p{
    font-size: 15px;
    line-height: 18px;
    color: #9D9D9D;
    max-width: 230px;
    margin-top: 10px;
  }

  .project-name-discription p{
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 487px;
    margin: 35px 0px 0px 0px;
  }

  .discription {
    margin-top: 50px;
    margin-left: 120px;
  }

  .graphik{
    margin-top: 150px;
    margin-left: 120px;
    margin-bottom: 120px;
  }

  .graphik-discription h2{
    font-size: 35px;
    margin-bottom: 15px;
  }

  .graphik-discription p{
    font-size: 18px;
    line-height: 32px;
    max-width: 710px;
  }

  .graphik-img img{
    width: 30%;
    margin: 100px 0px 0px 30%;
  }

  .idenity-img{
    margin: 0px 30px 30px 120px;
  }

  .big-img img{
    width: 100%;
  }


  .small-img{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .small-img img:first-child{
    width: 42%;
  }

  .small-img img:nth-child(2n){
    width: 55%;
    margin-left: 25px;
  }

  .main-page{
    margin-top: 100px;
    margin-left: 120px;
    margin-bottom: 70px;
  }

  .main-page-discription{
    margin-right: 3%;
  }

  .main-page-discription h2{
    font-size: 35px;
    margin-bottom: 15px;
  }

  .main-page-discription p{
    font-size: 18px;
    line-height: 32px;
    max-width: 760px;
  }

  .main-page img{
    width: 75%;
    margin: 0 0 71px 11%;
  }

  .main-page-img {
    margin-left: 90px;
    margin-right: 0px;
  }
  .main-page-img img{
    width: 100%;
    margin-bottom: -4px;

  }


  .articles{
    margin-left: 120px;
    margin-top: 150px;
    margin-bottom: 70px;
  }


  .articles-discription-img img{
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.25);
    width: 60%;
    margin: 50px 0 0 17%;

  }


  .articles-discription h2{
    font-size: 35px;
    margin-bottom: 20px;
  }

  .articles-discription p{
    font-size: 18px;
    line-height: 32px;
    max-width: 680px;
  }

  .article-content {
    margin: 0px 0px 0px 20%;
  }

  .article-content img{
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.25);
    width: 90%;

  }

  .footer ul{
    display: flex;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 120px;
    text-decoration: underline;

  }

  .footer li:last-child{
    padding: 0px 0px 0px 30px;

  }

  .footer li:nth-child(2n){

    padding: 0px 0px 0px 30px;

  }




}
