
@media (min-width: 1024px){

  .main-content {
    margin: 50px 41px 0px 161px;
  }

  nav {
    background-color: #FFF1D9;
    height: 100vh;
    position: fixed;
    width: 121px;
    top: 0;
    left: 0;
    text-align: center;
  }

  .logo{
    width: 102px;
    position: fixed;
    left: 10px;
    bottom: 20px;
  }


  .menu-heading {

    margin-top: 180px;
    font-size: 40px;
    letter-spacing: 1.54px;
    /* margin-right: 10px; */
  }



  .projects-heading{

    font-size: 40px;
    padding-bottom: 50px;
    width: 100%;

  }


  .projects-heading li{
    padding-left: 40px;
  }


  .medium-section, .big-container{
    margin-bottom: 80px;
    width: 100%;

  }

  .medium-section h2{

    font-size: 30px;
    padding: 20px 0px 10px 0px;

  }

  .big-container h2{

    font-size: 30px;
    padding: 20px 0px 10px 0px;

  }

  p{

    font-size: 18px;
    line-height: 24px;

  }

  .medium-section{
    display: flex;
    justify-content: space-between;
  }

  .medium-container-right{
    margin-left: 40px;
    width: 100%;
  }

  .medium-container-left{
    /* margin-left: 6vw; */
    width: 100%;
  }

  .medium-container-right img{
    width: 100%;
    transition: 0.3s;
  }

  .medium-container-left img{
    width: 100%;
    transition: 0.3s;
  }

  .big-container img{
    width: 100%;
    transition: 0.3s;
  }

  .big-container img:last-child{
    display: none;
  }


  .medium-container-left img:hover{
  -webkit-transform: rotateZ(7deg);
  -ms-transform: rotateZ(7deg);
  transform: rotateZ(7deg);
  transition: 0.3s;
  }

  .medium-container-right img:hover{
    -webkit-transform: rotateZ(7deg);
    -ms-transform: rotateZ(7deg);
    transform: rotateZ(7deg);
    transition: 0.3s;

  }


  .big-container img:hover {
    -webkit-transform: rotateZ(3deg);
    -ms-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
    transition: 0.3s;
  }

  .big-container img:nth-child(2n){

    display: none;

  }

  .big-container img:first-child{

    display: block;

  }

  .footer ul{
    display: flex;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 50px;

  }

  .footer li:last-child{
    padding: 0px 0px 0px 30px;

  }

  .footer li:nth-child(2n){

    padding: 0px 0px 0px 30px;

  }




}
