@media (min-width: 768px){

  .main-content{
    overflow: hidden;
  }

  nav {
    background-color: #F5F5F5;
    height: 100vh;
    position: fixed;
    width: 90px;
    top: 0;
    left: 0;
    text-align: center;
  }

  .logo{
    width: 80px;
    position: fixed;
    left: 6px;
    bottom: 20px;
    transform: rotate(0deg);
  }

  .menu-heading {

    margin-top: 190px;
    font-size: 30px;
    letter-spacing: 1.54px;
    /* margin-right: 10px; */
  }

  .head-present img{
    margin-left: 80px;
    width: 93%;
  }

  .project-name h1{
    font-size: 45px;
    color: #000000;

  }

  .project-name p{
    font-size: 15px;
    line-height: 18px;
    color: #9D9D9D;
    max-width: 270px;
    margin-top: 10px;
  }

  .project-name-discription p{
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin: 35px 200px 0px 0%;
  }

  .discription {
    margin-top: 50px;
    margin-left: 130px;
  }

  .graphik{
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
    margin-left: 130px;
    margin-bottom: 120px;
  }

  .graphik-discription h2{
    font-size: 35px;
    margin-bottom: 15px;
  }

  .graphik-discription p{
    font-size: 18px;
    line-height: 32px;
    max-width: 500px;
  }

  .graphik-img img{
    width: 80%;
    margin: 0px 29px 0px 31px;
  }

  .idenity-img{
    margin: 0px 30px 0px 0px;
  }

  .big-img img{
    width: 100%;
    margin: 0 0 0 50px;
  }


  .small-img{
    margin-top: 30px;
    margin-left: 200px;

  }

  .small-img img:first-child{
    width: 80%;
  }

  .small-img img:nth-child(2n){
    width: 80%;
  }

  .illustration{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 130px;
    margin-bottom: 120px;
  }

  .illustration-discription{
    margin-right: 30px;
  }

  .illustration-discription h2{
    font-size: 35px;
    margin-bottom: 15px;
  }

  .illustration-discription p{
    font-size: 18px;
    line-height: 32px;
  }

  .salami-scroll{
    display: flex;
    justify-content: center;
    background-color: #9C0B0B;
    margin-left: 90px;
    margin-bottom: 60px;

  }

  .salami-scroll-content{
    margin: 30px 0 30px 0%;

  }

  .salami-scroll-content img{
    margin: 0px 45px 0px 46px;
    width: 11%;
  }

  .illustration img{
    width: 45%;
    margin: 0 10% 0 0;
  }

  .illustration-img {
    margin-left: 95px;
    margin-right: -2%;
  }
  .illustration-img img{
    width: 100%;
    margin-left: 0px;

  }


  .in-life{
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-top: 200px;
    margin-bottom: 50px;
  }


  .in-life-discription-img img{
    width: 92%;
  }


  .in-life-discription{
    margin-right: 6%;
    margin-bottom: 0px;
  }

  .in-life-discription h2{
    font-size: 35px;
    margin-bottom: 20px;
  }

  .in-life-discription p{
    font-size: 18px;
    line-height: 32px;
    max-width: 650px;
  }

  .in-life-content{
    margin: 30px 40px 0px 130px
  }

  .in-life-content img{
    width: 100%;
    margin: 50px 0 0 0;

  }


  .footer ul{
    display: flex;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 130px;
    text-decoration: underline;

  }

  .footer li:last-child{
    padding: 0px 0px 0px 30px;

  }

  .footer li:nth-child(2n){

    padding: 0px 0px 0px 30px;

  }




}
