@media (min-width: 1440px){


  nav {
    background-color: #2B2B2B;
    height: 100vh;
    position: fixed;
    width: 121px;
    top: 0;
    left: 0;
    text-align: center;
  }

  .main-content{
    padding-left: 171px;
  }

  .main-paragraph {
    max-width: 800px;
    font-size: 40px;
    line-height: 55px;
    margin-top: 140px;
  }

  .menu-heading {
    margin-top: 150px;
    font-size: 40px;
    letter-spacing: 1.54px;
    margin-right: 11px;

  }

  .logo{
    /* margin-top: 72px; */
    width: 102px;
    position: fixed;
    left: 10px;
    bottom: 20px;
  }


  p,h2, {
    max-width: 900px;
  }



  h2 {
    margin: 0px 0px;
    font-size: 30px;
  }

  p {
    margin: 7px 0px;
    font-size:19px;
    line-height: 29px;
  }


  .hey{
    width: 100%;
    height: 27vw;

  }

  .hey img{
    left: 20%;
    width: 79%;
    position: absolute;
  }

  .capabilities {
    margin-bottom: 100px;

  }



  /* .do {
    position: absolute;
    top: 450px;
    right: 130px;
    transform: rotate(-70deg);
    color: #FF643A;
    font-family: "Circe-Light", monospace;
    font-size: 130px;
  }

  .do-on-hover {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 20px 90px 20px 30px;
    color: #FFFFFF;
    background-color: #FF643A;
    font-family: "OCRF-Regular", monospace;
    font-size: 19px;
    line-height: 27px;
  }

  .do:hover .do-on-hover {
    display: block;
  }

  .can {
    position: absolute;
    top: 740px;
    right: 600px;
    transform: rotate(10deg);
    color: #4E64FF;
    font-family: "Circe-Light", sans-serif;
    font-size: 130px;
  }

  .can-on-hover {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 110%;
    padding: 10px 5px 15px 12px;
    color: #FFFFFF;
    background-color: #3C54FF;
    font-family: "OCRF-Regular", monospace;
    font-size: 19px;
    line-height: 27px;
  }

  .can:hover .can-on-hover {
    display: block;
  } */

  .me {
    padding-left: 3.9vw;
    width: 40vw;
  }

  .is-philosophy {
    margin-bottom: 150px;
  }

  .is-call-and-write {
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 130px;


  }

  /*
  .feel-free{

    margin-top: 150px;
    padding-left: 300px;
    background-color: #FFD4C3;
    width: 1440px;


  }

  .feel-free img{
    width: 1032px;


  } */


  .contacts-container {

    background-color: #FFD45E;
    display: flex;
    padding: 55px 39px 201px 78px;
    width: 624px;
    justify-content: space-between;
    display: flex;
    line-height: 3;
    transform: rotate(-74deg);
    position: fixed;
    /* top: 425px; */
    /* left: 1030px; */
    right: -210px;
    bottom: 22px;
  }


  .first-column, .second-column {

    font-size: 17px;
  }

  .third-column {

    font-size: 25px;
  }

  .third-column a {

  }


  .third-column li {
    transform: rotate(90deg);
  }


  .contacts-container {

    background-color: #FFD45E;
    display: flex;
    padding: 55px 39px 201px 78px;
    width: 624px;
    justify-content: space-between;
    display: flex;
    line-height: 3;
    transform: rotate(-74deg);
    position: fixed;
    /* top: 425px; */
    /* left: 1030px; */
    right: -210px;
    bottom: 22px;
    animation: bounce 1s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0.8s;

  }


  @-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0) rotate(-74deg);


    }

    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -60px, 0);
      transform: translate3d(0, -60px, 0) rotate(-74deg);

    }

     70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0) rotate(-74deg);

    }

    90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0) rotate(-74deg);


    }
  }


}
